/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
/* Reset end */
.mb-16 {
    margin-bottom: 16px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-56 {
    margin-bottom: 56px;
}
body {
    font-family: "Roboto";
    font-style: italic;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.background-white {
    background: #fff;
    color: #000;
}
.background-black {
    background: #000;
    color: #fff;
}
/* Banner */
.banner {
    background-image: url(/images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    height: calc(100vh);
    position: relative;
}
.resume {
    position: absolute;
    color: #fff;
    font-weight: bold;
    /* max-width: 304px; */
    margin-top: 308px;
    margin-bottom: 308px;
    right: 40%;
}
.resume p {
    font-size: 24px;
    line-height: 36px;
}
.resume h1 {
    font-size: 80px;
}
/* 需要設定 margin-right: 16px 嗎？還是可以直接 justify-content: space-between 讓他平均分配寬度 */
.resume img {
    display: block;
    /* margin-right: 16px; */
}
.social-media {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
/* About */
.about {
    /* 要使用 margin: 0 auto 記得設定寬度 */
    width: 384px;
    text-align: center;
}
.about h2 {
    font-size: 64px;
}
.about p {
    font-size: 24px;
    line-height: 1.5rem;
    font-weight: bold;
}
.about__divider {
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
    margin-bottom: 28px;
}
.about li {
    line-height: 42px;
}
.about ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #891818; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 50px;
}
/* Brand */
.brand {
    text-align: center;
    margin-top: 56px;
    padding-top: 56px;

}
.brand h2 {
    font-size: 64px;
    margin-bottom: 12px;
}
.brand h3 {
    font-size: 24px;
}
.brand p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 68px;
}
.brand__columns {
    display: flex;
    justify-content: space-between;
}
/* other */
.other {
    text-align: center;
    padding-top: 56px;
}
.other h2 {
    font-size: 64px;
}
.other p {
    font-size: 20px;
}
.other__columns {
    display: flex;
    justify-content: space-between;
}
.other__columns img {
    margin-bottom: 16px;
}
.other__columns p {
    margin-bottom: 48px;
}
/* footer */
.footer {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 96px;
}
.footer h2 {
    font-size: 64px;
}
.footer p {
    font-size: 24px;
}
.footer a {
    text-decoration: none;
    color: #fff;
}